<div class="highlights">
	<section>
		<div class="content">
			<header>
				<a href="#"><i class="cc BTC-alt" title="BTC"></i></a>
				<h3>Feugiat consequat</h3>
			</header>
			<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
		</div>
	</section>
	<section>
		<div class="content">
			<header>
				<a href="#"><i class="cc ETH" title="ETH"></i></a>
				<h3>Ante sem integer</h3>
			</header>
			<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
		</div>
	</section>
	<section>
		<div class="content">
			<header>
				<a href="#"><i class="cc LTC-alt" title="LTC"></i></a>
				<h3>Ipsum consequat</h3>
			</header>
			<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
		</div>
	</section>
</div>
