<div class="highlights">
	<%= link_to(currency_url('btc')) do%>
		<section>
			<div class="content">
				<header>
					<i class="cc BTC-alt" title="BTC"></i>
					<h3>Bitcoin</h3>
				</header>
			</div>
		</section>
	<% end %>
	<%= link_to(currency_url('eth')) do%>
		<section>
			<div class="content">
				<header>
					<i class="cc ETH" title="ETH"></i>
					<h3>Ethereum</h3>
				</header>
			</div>
		</section>
	<% end %>
	<%= link_to(currency_url('ltc')) do%>
		<section>
			<div class="content">
				<header>
					<i class="cc LTC-alt" title="LTC"></i>
					<h3>Litecoin</h3>
				</header>
			</div>
		</section>
	<% end %>
</div>
